@font-face {
    font-family: 'Century';
    src: url('Century-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century';
    src: url('Century-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

  /*color: #ffbf00; gold
    color: #e6e6e6; silver
    color: #cd7f32; bronze*/

/*--------Nav Bar-------*/


#Logo{
  transition: all 0.3s;
}
.largeLogo{width: 80px;}
.smallLogo{width: 30px;}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: transparent!important;
    padding-left: 25px;
    padding-right: 25px;
}

.fixed-top.scrolled {
  background-color: rgba(0,0,0,.6)!important;
  transition: background-color 200ms linear;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#ffbf00; 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #ffbf00;
}

button:focus {
    outline:none;
    outline:none;
}

.navbar-light .navbar-toggler {
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #ffbf00;
    color:#ffbf00; 
}



/*-------JumboTron Home --------*/
#jumbotron-home, .jumbotron, .jumbotron-fluid{
  height: 534px;
  background-image: url(../img/jumbotronHome1.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:150px;
  padding-bottom: 150px;
}

h1.display-1{
    font-family: 'Century';
    font-size: 50px;
    color: #ffbf00;
    font-weight: bold;
    font-style: normal;
}

p.lead-1{
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   color: #fff;
   font-weight: 700;
   font-style: normal;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:180px;
    height: 50px;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-primary:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    border-color: #fff;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500px;
}

a:hover{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a.cta{
  color:#fff;
}


/*---Home Our Story----*/

section#home-1{
  padding-top: 117px;
  padding-bottom: 117px;
}

h2.display-2{
    font-family: 'Century';
    font-size: 40px;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}

p.ourStory{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color:#333333;
  font-weight: 500;
  line-height: 30px;
}


/*----Section 2 Home---------*/

section#home-3{
  padding-top:41.5px;
  padding-bottom: 41.5px;
  height: 116px;
}

h3.display-3{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color:#333333;
  font-weight: 500;
  line-height: 30px;
  margin:0px;
}

.socialReview{
  min-height: 304px;
  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.box{
  min-height:100px;
  background-color:#333333!important;
  color: #fff!important

}

.box:hover{
  background:#ffbf00!important;
  transition: color .15s ease-in-out,background-color .25s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*----Image Hover Our Process and Premium Tequilas--*/


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background:#ffbf00;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: .2;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h3 {
  color: #fff;
  font-family: 'Century', sans-serif;
  text-align: center;
  position: relative;
  font-size:30px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
}

.hovereffect h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h3:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

footer, ul, li{
  list-style-type: none;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

footer, ul, li, a{
  color: #333333;
}

ul, li, a:hover{
  color: #ffbf00;
}

footer{
  width: 100%;
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  { 

  .hoversmall .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

  .small{
    font-size: 20px!important;
  }

  .btn-small{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:100px;
    height: 50px;
}

.cta{
  font-size: 15px;
}



}


@media only screen 
and (min-width : 375px) 
and (max-width : 812px)
{ 

  .hovereffect h3 {
  color: #fff;
  font-family: 'Century', sans-serif;
  text-align: center;
  position: relative;
  font-size:30px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
}

img{
  margin-bottom: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:180px;
    height: 50px;
}
}


@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { /* STYLES GO HERE */}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { /* STYLES GO HERE */ }


